//TODO: mentor note:the second and third answers here are options tho. the second uses css variables (the --whatever things, but htat wont work on older browsers). the third could work well anywhere, but is more annoying to do. https://stackoverflow.com/questions/17787845/how-to-control-sass-variable-with-javascript

//bighorn colors
// $accent: #ed786a;
// $accentHover: #fd887a;

//foghorn colors
$accentHover: #555C3A;
$accent: #999C10;

//LV colors
//???

$TEST: #f6a;
